body
 {
    /* height: 100%; */
    margin: 0;
    /* background: linear-gradient(#b1c6ec, #0dd321); */

    /* position: relative; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e6ebf4, #0dacd3);
    perspective: 1000px;
}

.form-container {
    width: 400px;
    margin: 100px auto;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: bolder;
    align-items: center;
}

#emailHelp {
    margin-bottom: 20px;
}
button{
    background: linear-gradient(360deg, transparent, #03f484);
}